{{> barra}}

<link rel="stylesheet" href="/css/perfil-modificar.css" />

<div class="DivCont">
  <div class="ContDatosIzq">
    <div class="DivImg">
      {{#if user.foto}}
        <img class="Img" src="/upload/{{user.foto}}" alt="Foto Perfil" />
      {{else}}
        <img class="Img" src="https://res.cloudinary.com/didiblsne/image/upload/v1640059748/default_ti9xlo.jpg" alt="Foto Perfil" />
      {{/if}}
    </div>

    <div class="GrupoContacto">
      <h2 style="margin-top: 1.5rem;">Contactos</h2>

      <div class="Contactos">
         {{#if redsocial.link_wsp}}
            <figure> 
              <a href={{redsocial.link_wsp}} target="_blank">
              <img class="Img" src="https://res.cloudinary.com/didiblsne/image/upload/v1640544179/WhatsApp.svg_m3biqw.png" alt="WhatsApp" />
              </a>
            </figure>
          {{else}}
            <img class="Img" src="https://res.cloudinary.com/didiblsne/image/upload/v1640544179/WhatsApp.svg_m3biqw.png" alt="WhatsApp"  onClick="alert('¡El Usuario no posee whatsapp, porfavor añadir tu url en editar perfil!')"/>
         {{/if}}
         {{#if redsocial.link_ig}}
            <figure>
              <a href={{redsocial.link_ig}} target="_blank">
                <img class="Img" src="https://res.cloudinary.com/didiblsne/image/upload/v1640059748/instagram_fwalol.png" alt="Instagram" />
              </a>
              
            </figure>
          {{else}}
            <img class="Img" src="https://res.cloudinary.com/didiblsne/image/upload/v1640059748/instagram_fwalol.png" alt="Instagram" onClick="alert('¡El Usuario no posee instagram, porfavor añadir tu url en editar perfil!')"/>
         {{/if}}
         {{#if redsocial.link_fb}}
            <figure>
              <a href={{redsocial.link_fb}} target="_blank">
                <img class="Img" src="https://res.cloudinary.com/didiblsne/image/upload/v1640059748/fb_oftquk.png" alt="Facebook" />
              </a>  
            </figure>
          {{else}}
            <img class="Img" src="https://res.cloudinary.com/didiblsne/image/upload/v1640059748/fb_oftquk.png" alt="Facebook" onClick="alert('¡El Usuario no posee facebook, porfavor añadir tu url en editar perfil!')"/>
         {{/if}}
         {{#if redsocial.link_twt}}
            <figure>
              <a href={{redsocial.link_twt}} target="_blank">
                <img class="Img" src="https://res.cloudinary.com/didiblsne/image/upload/v1640544071/twitter-logo-2-1_b9pjr0.png" alt="Twitter" />
              </a>
            </figure>
          {{else}}
            <img class="Img" src="https://res.cloudinary.com/didiblsne/image/upload/v1640544071/twitter-logo-2-1_b9pjr0.png" alt="Twitter" onClick="alert('¡El Usuario no posee twitter, porfavor añadir tu url en editar perfil!')"/>
         {{/if}}
         {{#if redsocial.link_wtp}}
            <figure>
              <a href={{redsocial.link_wtp}} target="_blank">
                <img class="Img" src="https://res.cloudinary.com/didiblsne/image/upload/v1640059749/watt_dugos0.png" alt="Wattpad" />
              </a>
            
            </figure>
          {{else}}
            <img class="Img" src="https://res.cloudinary.com/didiblsne/image/upload/v1640059749/watt_dugos0.png" alt="Wattpad" onClick="alert('¡El Usuario no posee whattpad, porfavor añadir tu url en editar perfil!')"/>
         {{/if}}
         


        
        
        
        
        
        
      </div>
    </div>

  </div>
  <div class="ContDatosDer">

    <h1>{{user.nombre}} {{user.apellidoPaterno}} {{user.apellidoMaterno}}</h1>

    <div class="libros-publicados">
      
    <div class="GrupoDatosModificar">
      <div class="GrupoInfoPersonal">
        <h2>Información Personal</h2>

        <div class="GrupoInput">
          <label for="nombres">Nombres</label>
          <input
            class="Input"
            type="text"
            id="nombres"
            value="{{user.nombre}}"
            readonly
          />
        </div>

        <div class="GrupoInput">
          <label for="apellidoP">Apellido Paterno</label>
          <input
            class="Input"
            type="text"
            id="apellidoP"
            value="{{user.apellidoPaterno}}"
            readonly
          />
        </div>

        <div class="GrupoInput">
          <label for="apellidoM">Apellido Materno</label>
          <input
            class="Input"
            type="text"
            id="apellidoM"
            value="{{user.apellidoMaterno}}"
            placeholder="No ingresó su apellido materno"
            readonly
          />
        </div>

        <div class="GrupoInput">
          <label for="celular">Número Celular</label>
          <input
            class="Input"
            type="tel"
            id="celular"
            placeholder="No ingresó su número telefónico"
            value="{{user.telefono}}"
            readonly
          />
        </div>

        <div class="GrupoInput">
          <label for="genero">Género</label>
          <input
            class="Input"
            type="text"
            id="genero"
            placeholder="No ingresó su género"
            value="{{user.genero}}"
            readonly
          />
        </div>

        <div class="GrupoInput">
          <label for="nacimiento">Fecha de Nacimiento</label>
          <input
            class="Input"
            type="date"
            id="nacimiento"
            value="{{user.fecha}}"
            readonly
          />
        </div>
      </div>

      <div class="GrupoInfoCuenta">
        <h2>Información de la cuenta</h2>

        <div class="GrupoInput">
          <label for="usuario">Usuario</label>
          <input
            class="Input"
            type="text"
            id="usuario"
            value="{{user.usuario}}"
            placeholder="No ingresó su usuario"
            readonly
          />
        </div>

        <div class="GrupoInput">
          <label for="correo">Correo</label>
          <input
            class="Input"
            type="email"
            id="correo"
            value="{{user.correo_electronico}}"
            readonly
          />
        </div>

        <h2>Dirección</h2>

        <div class="GrupoInput">
          <label for="distrito">Distrito</label>
          <input
            class="Input"
            type="text"
            id="distrito"
            value="{{user.distrito}}"
            readonly
          />
        </div>

        <div class="GrupoInput">
          <label for="direc">Dirección</label>
          <input
            class="Input"
            type="text"
            id="direc"
            value="{{user.direccion}}"
            placeholder="No ingresó su dirección"
            readonly
          />
        </div>

      </div>
    </div>
  </div>
</div>