{{> navigation}}



<style>
  
.contenido {
	background-color: #ccc;
	height: 1000px;
	margin: 100px 100px 100px 100px;
	margin-bottom: 10px;
}
.container-404{
	text-align: center;
	width: 100%;  
	background: #EBFFFF;
	padding: 200px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
	border-radius: 5px;
	line-height: 1.7;
	color: #434343;
}
.boton{
	display: inline-block;
	margin-top: 15px;
	text-decoration: none;
	background: #1a84d3;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 15px;
  
}


</style>

<div class="container p-4">
  <div class="row">
    {{#if libros}}

    <div class="row">
    {{#each libros}}
    <div class="row" style="margin: 0% 2% 2% 2%;">
      <div class = "cool-md-3" style="width: 18rem;">
        <div class = "card text-center">
          <div class = "card-body">            
            <h3 class = "card-title text-uppercase"> {{titulo}}</h3>          
            <center>
                <figure style="width: 80%">
                    <img style="width: 100%" src="{{url}}" />
                </figure>
            </center>
            <br>
            <label class="m-2">Autor:  {{autor}} 
            
            

            
            <label class="m-2">Precio: {{precio}}
            <br>  
            <a href="#" class="btn btn-danger">Comprar</a>  
          </div>
        </div>
      </div>
      <br>
    </div>

    {{else}}
    <center>
      <div class="container-404">
        <h1><b>ARTÍCULO NO ENCONTADO</b></h1>
        <h5>No se encontro ningur articulo con el nombre que busco. Porfavor vuelva a intentar con otro artículo</h5>
        <a href="/" class="boton" >
        <h2>Volver a Página Principal</h2>
        </a>
      </div>
    </center>  
    
    {{/if}}
    

    
  </div>
</div>

