{{> barra}}

<div class="container p-4" >
  
<center><h1>Mis Libros Publicados</h1></center><br>
    

  <div class="row">
    {{#each libro}}
    <div class="row" style="margin: 0% 2% 2% 2%;">
      <div class = "cool-md-3" style="width: 18rem;">
        <div class = "card text-center">
          <div class = "card-body">  
            <h3 class = "card-title text-uppercase"> {{titulo}}</h3>
            <center>
                <figure style="width: 70%">
                    <img style="width: 100%" src="{{url}}" />
                </figure>
            </center>
            <br>
            <label class="m-2">Autor:  {{autor}} 
            <br>
            <br>
            <a href="/links/deletebook/{{idLibro}}" class="btn btn-danger">Eliminar</a>
            <a href="/links/editbook/{{idLibro}}" class="btn btn-secondary">Editar</a>  
          </div>
        </div>
      </div>
      <br>
    </div>
    {{/each}}
  </div>
</div>

