
<link rel="stylesheet" href="/css/publicar.css" />

{{> barra}}

<main class="index" style="width:100%">
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-sm-12">

        <form 	class="formulario-publicar"
    		id="form-publicar"
    		action="/links/publicar" method="post">

        <div class="box-shadow-full" style="padding-top: 3rem;">            
          <div class="row" style="margin-bottom: 25px;">
            <div class="col-6 col-md-4">
              <h2 style="margin-bottom: 25px;">
                Titulo del libro
              </h2>
            </div>
            <div class="col-12 col-md-8">
              <div
                class="wrap-mensaje validate-input alert-validate"
                data-validate="Name is requiredd"
              >
                <input
                  class="mensaje"
                  type="text"
                  name="titulo"
                  id="titulo"                  
                  placeholder="Titulo..."
                  required
                />
                <span class="focus-mensaje"></span>
              </div>
            </div>
          </div>

          <input hidden
            class="mensaje"
            name="url"
            id="url"               
            required

          />


          
          <center>
                <figure style="width: 40%">
                    <img style="width: 40%" id="imagen" />
                </figure>
          </center>

          <button id = "btn-foto" onclick="miFunc()" class = "btn-primary">Subir Foto</button>
          

         
      
          
          
          <h1 style="margin-top: 25px;">
            Información del libro
          </h1>


          <div class="row">
            <div class="col-md-6">
              <h2>Autor(a)</h2>
              <div class="wrap-mensaje">
                <input
                  class="mensaje"
                  type="text"
                  name="autor"
                  id="autor"
                 
                  placeholder="Autor..."
                  required
                />
              </div>
              
              <h2>Número Páginas</h2>
              <div class="wrap-mensaje">
                <input
                  class="mensaje"
                  type="text"
                  name="pags"
                  id="pags"
                  
                  placeholder="Num pag..."
                  required
                />
              </div>
              <h2>Tamaño</h2>
              <div class="wrap-mensaje">
                <input
                  class="mensaje"
                  type="text"
                  name="tamaño"
                  id="tamaño"
                  
                  placeholder="Tamaño..."
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <h2>Editorial</h2>
              <div class="wrap-mensaje">
                <input
                  class="mensaje"
                  type="text"
                  name="editorial"
                  id="editorial"
                  
                  placeholder="Editorial..."
                  required
                />
              </div>
              <h2>Fecha Lanzamiento</h2>

              <div class="wrap-mensaje">
                <input
                  class="mensaje"
                  type="date"
                  name="fechasubida"
                  id="fechasubida"
                  
                  placeholder="Fecha..."
                  required
                />
              </div>
              <h2>Idioma</h2>
              <div class="wrap-mensaje">
                <input
                  class="mensaje"
                  type="text"
                  name="idioma"
                  id="idioma"
                  
                  placeholder="Idioma..."
                  required
                />
              </div>
            </div>
          </div>
          <h2 style="text-align: left;">Descripción</h2>
          <div
            class="contenedor-mensaje validate-input"
            data-validate="Message is requiredd"
          >
            <textarea
              class="mensaje"
              name="descripcion"
              id="description"
              
              placeholder="Descripción..."
            ></textarea>
            <span class="focus-mensaje"></span>
          </div>
          
          <div class="GrupoInutp">
            <label for="genero">
              <h2>Genero   </h2>
            </label>
            <select select class="Input" name="idGenero">
              {{#each genero}}
                <option
                  value="{{idGenero}}"
                  {{selected idGenero}}
                  required
                >
                  {{nombre}}
                </option>
              {{/each}}
            </select>
          </div>

          <div class="GrupoInutp">
            <label for="especie">
              <h2>Especie   </h2>
              </label>
            <select select class="Input" name="idEspecie">
              {{#each especie}}
                <option
                  value="{{idEspecie}}"
                  {{selected idEspecie}}
                  required
                >
                  {{nombre}}
                </option>
              {{/each}}
            </select>
          </div>




          <div class="row">
            <div class="col-md-6">
              <h2 style="text-align: left;">Precio</h2>
              <div class="wrap-mensaje">
                <input
                  class="mensaje"
                  type="number"
                  name="precio"
                  id="precio"
                  placeholder="Precio..."
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <h2>Promocionar</h2>
              <div class="container">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                      
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Sí, acepto
                    <a
                      href="#"
                      data-toggle="modal"
                      data-target="#ModalTerminos"
                    >TÉRMINOS Y CONDICIONES</a>

                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    checked
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center" style="margin-top: 25px;">
              <button type="submit" class="btn btn-primary" style="font-size: 17px;font-weight: 900;">
                PUBLICAR LIBRO
              </button>

          </form>
          </div>
        </div>
      </div>
    </div>
  </div>



</form>

<script>
  function miFunc() {
    cloudinary.openUploadWidget({
    cloudName: "didiblsne", uploadPreset: "pqq4ikys" }, (error, result) => {
      if (!error && result && result.event === 'success') {
        console.log('Imagen subida con éxito', result.info);
        const imagen = document.querySelector('#imagen');
        imagen.src = result.info.secure_url;
        
        const url = document.querySelector('#url');
        url.value = result.info.secure_url;

        console.log(url.value)
        
    }
    });
  }
</script>




