{{> navigation}}

<div class="container p-4">

 
    <div class="GrupoInutp">
      <form 
      class="formulario-publicar"
    	id="form-publicar"
    	action="/links/verlibros" method="post">

        <label for="especie">
          <h2>Filtrar por Categoria  </h2>
        </label>
        <select select class="Input" name="Genero" id= "Genero" style="margin: 10px;">
           <option
            value=""
            selected
          >
          ---
          </option>
          {{#each genero}}
          <option
            value="{{idGenero}}"
            {{selected idGenero}}
          >
          {{nombre}}
          </option>
          {{/each}}
          </select>

        <button style="margin: 10px;">Buscar</button>
      
      
      
      </form>
            
    </div>

  
  <div class="row">


    {{#each libro}}
    <div class="row" style="margin: 0% 2% 2% 2%;">
      <div class = "cool-md-3" style="width: 18rem;">
        <div class = "card text-center">
          <div class = "card-body">            
            <h3 class = "card-title text-uppercase"> {{titulo}}</h3>          
            <center>
                <figure style="width: 50%">
                    <img style="width: 100%" src="{{url}}" />
                </figure>
            </center>
            <br>
            <label class="m-2">Autor:  {{autor}} 
            <br>  
            <br>
            <a href="#" class="btn btn-danger">Comprar</a>  
          </div>
        </div>
      </div>
      <br>
    </div>
    <br>


    {{/each}}
  </div>
  <br>
</div>
<br>


